<div class="home-txt text-center">
    <h1>Long Journey Awaiting You!!</h1>
    <h1>Now is the time you start renting a car</h1>

</div>

<div style="padding-top:60px" class="row home-image">
    <div class="col-md-5" style="padding-top:70px">
        <h5>We have partnered with the world's leading manufactrures</h5>
        <h5>and brands to create a cross-border experience without</h5>
        <h5>having to sacrifice the comfort of city rides.</h5>
    </div>
    <div class="col-md-7"><img src="images/car.png" /></div>

    

</div>

